<div class="row grid">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image1 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image2 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image3 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image4 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image5 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image6 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image7 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="{{ image9 }}" alt="">
                <div class="overlay">
                    <h2>선택하기</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
        </div>
    </div>
</div>
<ul class="list-inline pull-right">
    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
    <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
</ul>
