{% extends "base.html" %}

{% block content %}

 {% load staticfiles %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
<link rel="stylesheet" href="{% static "css/navi.css" %}">
<link rel='stylesheet' href="{% static "css/timepicki.css" %}">
<link rel='stylesheet' href="{% static "css/grid.css" %}">
<link rel='stylesheet' href="{% static "css/curlocation.css" %}">
<div class="container">
    <div class="row frame">
        <section class="navi">
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-time"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                    {% include "main/partials/step1.html" %}
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        {% include "main/partials/step2.html" %}
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        {% include "main/partials/step3.html" %}
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        {% include "main/partials/step4.html" %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>
{% endblock %}

{% block customJs %}
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"></script>
<script src="{% static "js/navi.js" %}"></script>
<script src="{% static "js/timepicki.js" %}"></script>
<script src="{% static "js/timepickirun.js" %}"></script>
<script src="https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey=db0a8814-b322-3263-af04-9673929bdc3e"></script>
<script src="{% static "js/curlocation.js" %}"></script>
<script src="{% static "js/location.js" %}"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
{% endblock %}
